<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Deploy CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- Activate before deploy -->

    <!-- Local Development purpose -->
<!--     <link rel="stylesheet" href="../static/reset.css">
    <link rel="stylesheet" href="../static/styles.css"> -->
    <!-- Disable before deploy -->

    <title>FoodReview API</title>
</head>
<body>
    <header>
        <!-- <img src="{{ url_for('static', filename='images/fr_hero_img.png') }}" alt="FoodReview Banner"> -->
         <div class="hero_copy">
            <h1>Welcome to the FoodReview API</h1>
            <p>Discover and share restaurant experiences through our community-driven platform.</p>
        </div>
    </header>
    <main>
        <p>This API allows users to:</p>
        <div class="small_grid">
            <ul>
                <li>🍽️ Register and log in</li>
                <li>🍽️ Add restaurants</li>
                <li>🍽️ Submit reviews</li>
                <li>🍽️ Discover new dining spots</li>
            </ul>
        </div>
        <div class="note">
            <p>This is a backend project — no frontend interface yet.</p>
            <p>Use Postman or a frontend app to interact.</p>
        </div>
    </main>
    <footer>
        <p>&copy; 2025 WBS Coding School</p>
    </footer>
</body>
</html>